In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation, NMF

df = pd.read_csv('../data/processed_data/reviews_with_clusters.csv')

df.head()

,Review,Rating,Review_clean,Review_tokens,Review_filtered,Review_lemmatized,Cleaned_Review,Review_word_count,cluster,cluster_name
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,"['nice', 'hotel', 'expensive', 'parking', 'got...","['nice', 'hotel', 'expensive', 'parking', 'got...","['nice', 'hotel', 'expensive', 'parking', 'get...",nice hotel expensive parking get good deal sta...,80,2,Room Comfort & Sleep Quality
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,"['ok', 'nothing', 'special', 'charge', 'diamon...","['ok', 'nothing', 'special', 'charge', 'diamon...","['ok', 'nothing', 'special', 'charge', 'diamon...",ok nothing special charge diamond member hilto...,230,2,Room Comfort & Sleep Quality
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not experience hotel monaco seattl...,"['nice', 'rooms', 'not', 'experience', 'hotel'...","['nice', 'rooms', 'experience', 'hotel', 'mona...","['nice', 'room', 'experience', 'hotel', 'monac...",nice room experience hotel monaco seattle good...,199,2,Room Comfort & Sleep Quality
3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...,"['unique', 'great', 'stay', 'wonderful', 'time...","['unique', 'great', 'stay', 'wonderful', 'time...","['unique', 'great', 'stay', 'wonderful', 'time...",unique great stay wonderful time hotel monaco ...,85,2,Room Comfort & Sleep Quality
4,"great stay great stay, went seahawk game aweso...",5,great stay great stay went seahawk game awesom...,"['great', 'stay', 'great', 'stay', 'went', 'se...","['great', 'stay', 'great', 'stay', 'went', 'se...","['great', 'stay', 'great', 'stay', 'go', 'seah...",great stay great stay go seahawk game awesome ...,178,2,Room Comfort & Sleep Quality